*{
    font-family: 'Sansation', sans-serif;
    padding: 0;
    margin: 0;
}
html, body{
    height: 100vh;
    width: 100%;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: grid;
    grid-template-columns: 1fr 2fr;
    min-width: 640px;
    max-width: 640px;
    min-height: 334px;
    max-height: 334px;
    background-color: rgb(230, 219, 202);
    border-radius: 30px;
    border: 2px solid rgb(182, 146, 100);
}
button{
    padding: 10px;
    border: 0;
    border-radius: 10px;
    transition: transform;
    transition-duration: 0.3s;
}
button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
h1{
    color: rgb(139, 44, 0);
}
h2{
    color: rgba(11, 148, 11, 0.842);
}
p{
    color: rgb(121, 41, 4);
}
img{
    border-radius: 10px;
}


main div{
    /* padding para todos los div de la card, asi no uso gap y no se me va el formato */
    padding: 20px;
}

main div div{
    padding: 0;
}

/* ID */

#col-main{
    /* Tres cols, Titulo, precio, descripcion */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr;
}

#row-description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#row-precio{
    font-weight: 700;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#buttons{
    display: flex;
    padding: 0;
    padding-top: 25px;
    gap: 7px;
}
    /* botones */
#comprar{
    background-color: rgba(8, 167, 8, 0.842);
    color: white;
}
#carrito{
    background-color: white;
    color: rgba(8, 167, 8, 0.842);
    border:solid 2px rgba(8, 167, 8, 0.842);
}

/* Clases */

.minimal{
    font-size: 12px;
    color: rgb(192, 143, 78);
    font-weight: 300;
}
